*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#logo-nav-div{
    width: 100%;
    min-height: 50px;
    background-color: #eacdec;
    /* margin-bottom: 10px; */
}
#logo-div{
    width: 20%;
    min-height: 50px;
    background-color: #eacdec;
    float: left;
    color: #db509c;
    font-weight: 900;
    text-shadow: #4e2b3e;
    text-shadow: 2px;
    padding: 48px;
    text-align: left;/* 
    margin-bottom: 10px; */
}
#home-div{
    width: 12%;
    min-height: 50px;
    background-color: #eacdec;
    float: left;
    padding: 50px;
    text-align: left;/* 
    margin-bottom: 10px; */
    
}
#shop-div{
    width: 12%;
    min-height: 50px;
    background-color: #eacdec;
    float: left;
    padding: 50px;
    text-align: left;/* 
    margin-bottom: 10px; */
}
#collection-div{
    width: 12%;
    min-height: 50px;
    background-color: #eacdec;
    float: left;
    padding: 50px;
    text-align: left;/* 
    margin-bottom: 10px; */
    
}
#female-div{
    width: 15%;
    min-height: 50px;
    background-color: #eacdec;
    float: left;
    padding: 50px;
    text-align: left;/* 
    margin-bottom: 10px; */
    text-decoration: underline;
    color: #c9438d;
}
#male-div{
    width: 12%;
    min-height: 50px;
    background-color: #eacdec;
    float: left;
    padding: 50px;
    text-align: left;/* 
    margin-bottom: 10px; */
}
#kids-div{
    width: 12%;
    min-height: 50px;
    background-color: #eacdec;
    float: left;
    padding: 50px;
    text-align: left;
}
#shop-now-div{
    width: 15%;
    min-height: 30px;
    background-color: #eacdec;
    float: right;
    padding: 40px;
    text-align: left;
}
#shop-now-div button{
    background-color: #db509c;
    padding: 6px;
    border: 0px;
    size: 30px;
    margin-bottom: 10px;
}
#Main-div{
    width: 100%;
    min-height: 10px;
    /* background-color: gray; */
    padding: 10px;
    margin-left: 5% ;
    margin-right: 3%;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.box{
    width: 20%;
    min-height: 450px;
    float: left;
    border-radius: 2px;
}
.box img{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    background-size: cover;
    
    
}
#Main-div .box:nth-child(2)
{
    margin-left: 3%;
   /*  margin-right: 3%; */
}
#Main-div .box:nth-child(3)
{
    margin-left: 3%;
    margin-right: 3%;
}
.h1{
    width: 100%;
    padding: 20px;
    /* margin: 5px; */
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#empty{
    width: 100%;
    height: 70px;
}
#Footer-div{
    width: 100%;
    min-height: 50px;
    background-color: #f6daf8;
    padding: 50px;
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;
}
table,tr{
    border: 2px ghostwhite ;
    border-collapse: collapse;
    /* margin: 2px; */
    padding: 30px;
    width: 1200px;
   /*  transform: translate(5%, 5%); */
    line-height:28px;
    text-align: left;
    margin-bottom: 15px;
}
th,td{
    border: 2px;
    border-collapse: collapse;
    text-align: left;
}
#Contact{
    width: 100%;
    min-height: 50px;
    /* background-color: #eacdec; */
    padding: 50px;
    padding: 10px;
    text-align: center;
    font-weight: 50;
    margin-bottom: 10px;
}